body{
    margin:0;
    padding:0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(a.jpeg);
    background-size: cover;
    background-position: center;
    
}

.signupbox{
    width:320px;
    height:500px;
    background: black;
    color: #fff;
    top: 50%;
    left: 20%;
    right: 10%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    padding: 70px 30px;
    opacity: 0.9;
    font-family: cursive;
}

.col{ 
    width:20%;
    height: 70%;
    margin-left: 70%;
    margin-top: 20%;
    background: transparent;
    opacity: 0.5;
    font-family: cursive;
   
    
    
}

h1{
    margin:0;
    padding:0;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    
}


.signupbox input{
    width:100%;
    margin-bottom: 20px;
    font-family: cursive;
}

.signupbox input[type="text"],input[type="password"],input[type="email"]
{
    border:0px;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:white;
    font-size: 16px;
    font-family: cursive;
    
}
.signupbox input[type="submit"]
{
    border:none;
    outline:none;
    height:40px;
    background:blue;
    color:#fff;
    font-size: 18px;
    font-family: cursive;
    border-radius: 20px;
}
.signup input[type="submit"]:hover
{
    cursor:pointer;
    background:#ffc107;
    color:#000;
    font-family: cursive;
}
.loginbox a{
    text-decoration: none;
    font-size:12px;
    line-height:20px;
    color:darkgray;
    font-family: cursive;
}
.login a:hover{
    color: brown;
    font-family: cursive;
}
.loginbox p{
    margin:0;
    padding:0;
    font-weight:bold;
    color: crimson;
    font-family: cursive;
}
